{deps, [
        {misultin, ".*",
         {git, "https://github.com/ostinelli/misultin.git", {branch, "dev"}}},
        {cowboy, ".*",
         {git, "https://github.com/extend/cowboy.git", "a55d1966f41e16271018500a948aba1697ba1eeb"}},
        {mochiweb, ".*",
         {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.2.1"}}},
        {json, ".*",
         {git, "https://github.com/davisp/eep0018.git", "11cf3c9e9445c268380736a102889b9f48aeafcb"}}
       ]}.
