{deps, [
        {misultin, ".*",
         {git, "https://github.com/ostinelli/misultin.git", {branch, "dev"}}},
        {cowboy, ".*",
         {git, "https://github.com/extend/cowboy.git", "381c1780738cbb02f0065f92991bc43ccd53a0c5"}},
        {mochiweb, ".*",
         {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.2.1"}}},
        {json, ".*",
         {git, "https://github.com/davisp/eep0018.git", "11cf3c9e9445c268380736a102889b9f48aeafcb"}}
       ]}.
