%% -*- erlang -*-
%% When chaning please remember to update `rebar.config` and
%% `rebar-misultin.config`.
%%

{erl_opts, [
            %% fail_on_warning,
            bin_opt_info,
            warn_missing_spec,
            debug_info,
            warn_export_all
]}.

{deps, [
        {jiffy, "0.4.0",
         {git, "https://github.com/davisp/jiffy.git", {tag, "0.4.0"}}},
        {cowboy, ".*",
         {git, "git://github.com/extend/cowboy.git", "e7b6e2a402922724"}}
       ]}.
